In [13]:
print("code")

code

In [14]:
print(3+5)

8

In [15]:
a=[1,2,3,4,5]
type(a)

list

functions

In [16]:
len(a)

5

In [17]:
sum(a)

15

In [18]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [19]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [20]:
isinstance("ABC", str)

True

In [21]:
isinstance(123, int)

True

In [23]:
 def add(a: int|float , b: int|float) -> int|float:
    """
    This function takes two numbers as input 
    and provides addition as output
    """
    assert isinstance(a, (int, float)), "Expected a to be Integer or Float"
    assert isinstance(b, (int, float)), "Expected b to be Integer or Float"
    c = a + b
    return c

In [24]:
add(3,4)

7

In [28]:
add(4.5, 3.3)

7.8

In [30]:
add(2,5,)

7

In [25]:
def add(a: int|float ,b:int|float -> int|float:

SyntaxError: invalid syntax (3744616894.py, line 1)

In [26]:
def add(a: int|float , b: int|float) -> int|float:
    """"
    This function takes two numbers as input
    and provides addition as output
    """
    c= a + b
    return c

In [31]:
add(2,8)

10

In [32]:
def div(x,y):
    """"
    This function divide two numbers."""
    z=x/y
    return z

In [33]:
div(20,5)

4.0

In [34]:
help(div)

Help on function div in module __main__:

div(x, y)
    "
    This function divide two numbers.

**Providing list as an argument **

In [35]:
a = [23, "Example", False, 2.3]
type(a)

list

In [38]:
function(*a)

NameError: name 'function' is not defined

In [37]:
function(*a)

NameError: name 'function' is not defined

In [39]:
a

[23, 'Example', False, 2.3]

In [40]:
c= list(range(1,101))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [41]:
addition(*c)

NameError: name 'addition' is not defined

In [42]:
addition(*c)

NameError: name 'addition' is not defined

In [43]:
addition(*c)

NameError: name 'addition' is not defined

In [ ]:
p1 = [(123, 2), (200, 3), (299, 5)]

In [44]:
for price, qty in p
    print(f"Price : {price}, Qty : {qty}")

NameError: name 'p1' is not defined

In [ ]:
p1 = [(123, 2), (200, 3), (299, 5)]

In [45]:
p1 = [(123, 2), (200, 3), (299, 5)]

In [46]:
for price, qty in p1:
    print(f"Price : {price}, Qty : {qty}")

Price : 123, Qty : 2
Price : 200, Qty : 3
Price : 299, Qty : 5

In [47]:
def billing(*args, tax_rate=18):
    """
    This function takes tax rate , price,qty tuple as input and
    provides final billing with tax
    """
    amt_before_tax = 0
    # Calculate amount before tax
    for price, qty in args:
        subtotal = price*qty
        amt_before_tax += subtotal
        print(f"Price : {price:.2f} INR, Qty: {qty}, Subtotal : {subtotal:.2f} INR")
    # Amount after tax
    tax = (tax_rate/100)*amt_before_tax
    amt_after_tax = amt_before_tax + tax 
    print("\n========================================================\n")
    print(f"Tax with {tax_rate} %: {tax:.2f} INR")
    print(f"Final Billing Amount : {amt_after_tax:.2f} INR")  
    return amt_after_tax

In [48]:

p1 = [
    (150, 2),
    (200, 3),
    (450, 1)
]

In [49]:

bill1 = billing(*p1)

Price : 150.00 INR, Qty: 2, Subtotal : 300.00 INR
Price : 200.00 INR, Qty: 3, Subtotal : 600.00 INR
Price : 450.00 INR, Qty: 1, Subtotal : 450.00 INR

========================================================

Tax with 18 %: 243.00 INR
Final Billing Amount : 1593.00 INR