object oriented programming

In [20]:
a=4
print(type(a))

<class 'int'>

In [21]:
import pandas as pd

In [22]:
df=pd.read_csv("50_Startups.csv")
df.head()

         RND      ADMIN        MKT       STATE     PROFIT
0  165349.20  136897.80  471784.10    New York  192261.83
1  162597.70  151377.59  443898.53  California  191792.06
2  153441.51  101145.55  407934.54     Florida  191050.39
3  144372.41  118671.85  383199.62    New York  182901.99
4  142107.34   91391.77  366168.42     Florida  166187.94

In [23]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [24]:
class Car:
    def __init__(self, brand):  # The constructor
        self.brand = brand      # Initialize the brand attribute

# Creating an object from the class
my_car = Car("Toyota")  # "Toyota" is passed to __init__ as the brand

# Accessing the brand attribute
print(my_car.brand)

Toyota

In [25]:
class car:
    def_init_(self,brand):
    self.brand=brand

    my_car=car("TOYOTA")
    print(my_car.brand)

SyntaxError: invalid syntax (3407895937.py, line 2)

In [10]:
class Car:
    def __init__(self, brand):  # The constructor
        self.brand = brand      # Initialize the brand attribute

# Creating an object from the class
my_car = Car("Toyota")  # "Toyota" is passed to __init__ as the brand

# Accessing the brand attribute
print(my_car.brand)

Toyota

In [26]:
class car:
    def __init__(self,brand):
        self.brand=brand
my_car = car("toyota")
print( my_car.brand)

toyota

In [28]:
class car:
    def __init__ (self,brand):
        self.brand=brand

my_car=car("toyota")
print(my_car.brand)

toyota